<div class="contianer">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron"  style="background-image:url(https://images.unsplash.com/photo-1482364686255-be52310ff475?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);background-position: center; background-size:cover">
                <h1> About Us</h1>
                <hr class="my-4">

                <h3>
                    flights website of all the leading companies around the world!
                    You can find all the most hot deals for the most luxurious destinations !!
                </h3>
                <h3>
                    We wanted to show all flight options in one place, creating a simple alternative to the confusing sites that make travel feel like hard work.

                </h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center" style="font-family:Orbitron ;">
                Here are some of the companies we work with:
            </h2>

            <hr class="my-4">

        </div>s
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6 col-s-12" style="height: 10%">
            <div class="card h-100">
                <video id="video" src="~/resources/vid.mp4" controls="false" style="height:250px"></video>
                <!--img class="card-img-top" src="~/resources/elal.jpg" style="height:52%">-->
                <div class="card-body flex-column">
                    <h5 class="card-title">EL AL</h5>
                    <p class="card-text">Israeli airlines company</p>
                    <hr class="my-4 mt-auto">
                    <div class="text-center">
                        <div class="btn-group btn-group-sm " style="font-size: 150%; margin-right:8%;" role="group">
                            <a target="_blank" href="https://www.facebook.com/ELALAirlinesIL/"><i class="fa fa-facebook mt-auto ml-5"></i></a>
                            <a target="_blank" href="https://twitter.com/el_al_israel"><i class="fa fa-twitter mt-auto ml-5"></a></i>
                            <a target="_blank" href="https://www.linkedin.com/company/el-al-israel-airlines"><i class="fa fa-linkedin mt-auto ml-5  "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-s-12"  style="height: 10%">
            <div class="card h-100">
                <img class="card-img-top" src="~/resources/British-Airways.jpg" style="height:250px">
                <div class="card-body d flex-column">
                    <h5 class="card-title">BRITISH AIRWAYS</h5>
                    <p class="card-text">Brith Airlines company  </p>
                    <hr class="my-4 mt-auto">
                    <div class="text-center">
                        <div class="btn-group btn-group-sm flex-wrap" style="font-size: 150%;margin-right: 8%;" role="group">
                            <a target="_blank" href="https://www.facebook.com/britishairways/"><i class="fa fa-facebook mt-auto ml-5"></i></a>
                            <a target="_blank" href="https://twitter.com/british_airways"><i class="fa fa-twitter mt-auto ml-5"></a></i>
                            <a target="_blank" href="https://www.linkedin.com/company/british-airways"><i class="fa fa-linkedin mt-auto ml-5  "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-s-12" style="height: 10%">
            <div class="card h-100">
                <img class="card-img-top" src="~/resources/7ef1e60b0ac83133ce577325f3ba4eba.jpg" style="height:250px">
                <div class="card-body flex-column">
                    <h5 class="card-title">AVIANCA</h5>
                    <p class="card-text" ">brazilian airlines company</p>
                    <hr class="my-4 mt-auto">
                    <div class="text-center">
                        <div class="btn-group btn-group flex-wrap" style="font-size: 150%; margin-right: 8%;" role="group">
                            <a target="_blank" href="https://www.facebook.com/AviancaGlobal/"><i class="fa fa-facebook mt-auto ml-5"></i></a>
                            <a target="_blank" href="https://twitter.com/avianca"><i class="fa fa-twitter mt-auto ml-5"></a></i>
                            <a target="_blank" href="https://www.linkedin.com/company/avianca"><i class="fa fa-linkedin mt-auto ml-5  "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
