<div class="contianer">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron"  style="background-image:url(https://images.unsplash.com/photo-1482364686255-be52310ff475?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);background-position: center; background-size:cover">
                <h1> About Us</h1>
                <hr class="my-4">

                <h3>
                    flights website of all the leading companies around the world!
                    You can find all the most hot deals for the most luxurious destinations !!
                </h3>
                <h3>
                    We wanted to show all flight options in one place, creating a simple alternative to the confusing sites that make travel feel like hard work.

                </h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">
                Here are some of the companies we work with:
            </h2>

            <hr class="my-4">

        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6 col-s-12">
            <div class="card h-100">
                <img class="card-img-top" src="~/resources/WhatsApp Image 2020-06-25 at 18.56.51.jpeg">
                <div class="card-body flex-column">
                    <h5 class="card-title">ELAL</h5>
                    <p class="card-text">Israeli airlines company</p>
                    <hr class="my-4 mt-auto">
                    <div class="text-center">
                        <div class="btn-group btn-group-sm " style="font-size: 150%; margin-right:8%;" role="group">
                            <a href="https://www.facebook.com/AuroraInvest/"><i class="fa fa-facebook mt-auto ml-5"></i></a>
                            <a href="https://twitter.com/aurora_invest"><i class="fa fa-twitter mt-auto ml-5"></a></i>
                            <a href="https://www.linkedin.com/company/aurora-cannabis-inc-/?originalSubdomain=ca"><i class="fa fa-linkedin mt-auto ml-5  "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-s-12">
            <div class="card h-100">
                <img class="card-img-top" src="~/resources/WhatsApp Image 2020-06-25 at 18.48.48 (1).jpeg">
                <div class="card-body d flex-column">
                    <h5 class="card-title">BRITISH AIRWAYS</h5>
                    <p class="card-text">Brith Airlines company  </p>
                    <hr class="my-4 mt-auto">
                    <div class="text-center">
                        <div class="btn-group btn-group-sm flex-wrap" style="font-size: 150%;margin-right: 8%;" role="group">
                            <a href="https://www.facebook.com/canopygrowth/"><i class="fa fa-facebook mt-auto ml-5"></i></a>
                            <a href="https://twitter.com/CanopyGrowth"><i class="fa fa-twitter mt-auto ml-5"></a></i>
                            <a href="https://www.linkedin.com/company/canopy-growth-corporation/?originalSubdomain=ca"><i class="fa fa-linkedin mt-auto ml-5  "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-s-12">
            <div class="card h-100">
                <img class="card-img-top" src="~/resources/WhatsApp Image 2020-06-25 at 18.48.48 (2).jpeg">
                <div class="card-body flex-column">
                    <h5 class="card-title">AVIANCA</h5>
                    <p class="card-text" ">brazilian airlines company</p>
                    <hr class="my-4 mt-auto">
                    <div class="text-center">
                        <div class="btn-group btn-group flex-wrap" style="font-size: 150%; margin-right: 8%;" role="group">
                            <a href="https://www.facebook.com/Trulieve/"><i class="fa fa-facebook mt-auto ml-5"></i></a>
                            <a href="https://twitter.com/trulieve"><i class="fa fa-twitter mt-auto ml-5"></a></i>
                            <a href="https://www.linkedin.com/company/trulieve/"><i class="fa fa-linkedin mt-auto ml-5  "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
