<style>

    .mapouter {
        position: relative;
        text-align: center;
        height: 390px;
        width: 310px;
    }

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 390px;
        width: 310px;
    }

    textarea {
        resize: none;
    }

    .form-label {
        font-size: 20px;
        color: salmon;
        margin: 0;
        display: none;
        opacity: 1;
        -webkit-transition: .333s ease top, .333s ease opacity;
        transition: .333s ease top, .333s ease opacity;
        text-shadow: 2px 2px #999;
    }

    .form-control {
        border-radius: 0;
        border-color: #ccc;
        border-width: 0 0 2px 0;
        border-style: none none solid none;
        box-shadow: none;
        background-color: transparent !important;
    }

        .form-control:focus, .form-control:hover {
            box-shadow: none;
            border-color: salmon;
            display: block;
        }

    .js-hide-label {
        opacity: 0;
    }

    .js-unhighlight-label {
        color: #999
    }

    .btn-start-order {
        background: 0 0 #ffffff;
        border: 1px solid #ccc;
        border-radius: 3px;
        color: black;
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        line-height: inherit;
        margin: 30px 0;
        padding: 10px 50px;
        text-transform: uppercase;
        transition: all 0.25s ease 0s; /*//improtant*/
        background-color: transparent;
    }

        .btn-start-order:hover, .btn-start-order:active, .btn-start-order:focus {
            border-color: salmon;
            color: salmon;

        }
</style>

<div class="contianer">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron" style="background-image:url(../../resources/pexels-photo-4429557.jpeg),url('../../resources/thoughtful-asian-woman-using-photo-camera-on-blue-background-4429566 (1).jpg');  background-repeat: no-repeat;background-size:contain;  background-position: right center, center left;">
                <h1> Contact</h1>
                <hr class="my-4">
                <address>
                    Easy Flights<br />
                    Eli Vizel 2, Rishon Lezion<br />
                    <abbr title="Phone">Phone:</abbr>
                    +972-50-944-4441
                </address>
                <address>
                    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@EasyFlights.com</a><br />
                    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@EasyFlights.com</a>
                </address>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron" style="background-image:url(../../resources/pexels-photo-4429557.jpeg);  background-repeat: no-repeat;background-size:300em;  ">
                <h2 class="getIntouch">Get In Touch</h2>
                <hr class="my-4" />
                <div class="row">
                    <div class="col-md-5">
                        <form id="contact-form" class="form" action="/Contacts/setMessagesDetails" method="POST" role="form">
                            <div class="form-group">
                                <label class="form-label" id="name1" for="name">Your Name</label>
                                <input type="text" class="form-control" onclick="funcName()" id="name" name="name" placeholder="Your name" tabindex="1" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label" id="email1" for="email">Your Email</label>
                                <input type="email" class="form-control" onclick="funcEmail()" id="email" name="email" placeholder="Your Email" tabindex="2" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label" id="subject1" for="subject">Subject</label>
                                <input type="text" class="form-control" onclick="funcSubject()" id="subject" name="subject" placeholder="Subject" tabindex="3">
                            </div>
                            <div class="form-group">
                                <label class="form-label" id="message1" for="message">Message</label>
                                <textarea rows="5" cols="50" name="message" onclick="funcMessage()" class="form-control" id="message" placeholder="Message..." tabindex="4" required></textarea>
                            </div>
                            <div class="text-left">
                                <button type="button" onclick="funcAjax()" id="submit" class="btn btn-start-order" style="border-radius:20px 20px 20px 20px">Send Message</button>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="mapouter">
                                <div class="gmap_canvas"><iframe width="310" height="390" id="gmap_canvas" src="https://maps.google.com/maps?q=college%20of%20managment%20rishon%20lezion&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.whatismyip-address.com/nordvpn-coupon/">nordvpn coupon codes</a></div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br>
   
</div>
  





<script>
    function funcEmail() {

        document.getElementById("email1").style.display = "block"
    }
    function funcName() {

        document.getElementById("name1").style.display = "block"
    }
    function funcSubject() {

        document.getElementById("subject1").style.display = "block"
    }
    function funcMessage() {

        document.getElementById("message1").style.display = "block"
    }
    function funcAjax() {
        
        var name = document.getElementById("name").value;
        var email = document.getElementById("email").value;
        var subject = document.getElementById("subject").value;
        var message = document.getElementById("message").value;
        var url = '@Url.Action("setMessagesDetails","Contacts")';
        $.ajax({
            async: false,
            type: "Post",
            url:url,
            data: JSON.stringify({ name: name, email: email, subject: subject, message: message}),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                Swal.fire({
                    icon: 'success', title: 'Your message has been saved', showConfirmButton: true,
                })
            },
             error: function (msg) {
                alert(response.responseText);
            } 
        });
 
    }
   
  

</script>
