@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div id="map"></div>
</div>

    <style type="text/css">
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    *{
        margin:0;
        padding:0;
    }
    #map {
        height: 500px;
        width: 100%;
    }

    </style>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxj-2Dzye6JpRz4WZ1TMfFIPkwQWHUz_s&callback=initMap&libraries=&v=weekly"
    defer > 
    </script >
    <script type="text/javascript">
    let m;
    function initMap() {
        m = new google.maps.Map(document.getElementById("map"), {
            center: { lat: -34.397, lng: 150.644 },
            zoom: 8
        });
    }

    </script >
