
@{
    ViewBag.Title = "Home Page";
}
<style>
    .form-control:focus {
        box-shadow: initial;
        border-color: salmon;
        border-width: 2px;
    }
</style>
<div class="contianer" style="padding-top:7px">

    <div class="jumbotron" style="background-image:url(../../resources/plane-841441_1280.jpg)">
        <h1>Welcome To Easy Flights </h1>
        <p><class ="lead">This site will help you to find the best flights and even suggest you hot deals</p>
        <hr class="my-4">

        <form role="form" action="/Users/setLoginDetails" method="post">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <h3 style="padding-bottom:15px"> Log in to your account</h3>
                    <div class="form-group">
                        <input type="text" name="name" id="name" style="border-radius: 20px 20px 20px 20px;" class="form-control input-sm" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" style="border-radius: 20px 20px 20px 20px;" id="password" class="form-control input-sm" placeholder="Password">
                    </div>
                    <div class="custom-control custom-switch" style="padding-left:18%">
                        <input type="checkbox" onclick="func()" name="isAdmin" class="custom-control-input" id="switch1">
                        <label class="custom-control-label" for="switch1">Admin</label>
                    </div>
                    <div style="padding-top:15px">
                        <input type="submit" value="Login" style="border-radius: 20px 20px 20px 20px;" class="btn btn-primary btn-lg btn-block">

                    </div>
                    <div class="d-flex  links" style="padding-top:15px; padding-left:12px">
                        Don't have an account? <a href="~/Users/Create" class="ml-2">Sign Up</a>

                    </div>
                    @Html.ValidationMessage("Eror", null, new { @class = "text text-danger" })
                    @if (TempData["Message"] == "Error")
                    {
                        <script>
                            Swal.fire({
                                icon: 'error', title: 'User name or passowrd invalid!', showConfirmButton: true,
                            })</script>
                    }

                </div>
            </div>

        </form>
    </div>
    <script>
        function func() {
            var pas = prompt("Please enter your personal pass ", "pass");
            if (pas != 42) {
                document.getElementById("switch1").checked = false;
            }
        }
    </script>

    <div class="row">

        <div class="col-md-4 col-sm-6 col-s-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/resources/1_IueLj5pu4PqHZMQO1slOQg.jpeg" alt="Card image cap">
                <h2 class="card-title">Need Hotel ?</h2>
                <div class="card-body">
                    <p>
                        This site will provide you varity of hotels in your vaction country.
                    </p>
                    <p><a class="btn btn-primary" style="background-color:royalblue !important;border-radius: 20px 20px 20px 20px;" target="_blank" href="https://www.booking.com/">Learn more &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-s-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" style="height:10.2em" src="~/resources/1_-exC8NjmO5QKyM_G3n6_Tw.jpeg" alt="Card image cap">
                <h2 class="card-title"> Hot Deals </h2>
                <div class="card-body">
                    <p>Click here to find the most 10 cheapest flights in our site. </p>
                    <p><a class="btn btn-primary" style="background-color:salmon !important ;border-color:salmon ;border-radius: 20px 20px 20px 20px;" target="_blank" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-s-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" style="height:10em" src="~/resources/TripAdvisor_for_Restaurants_Part_3-fb.png" alt="Card image cap">
                <h2 class="card-title">Trip Planner</h2>
                <div class="card-body">
                    <p>This site will help you to plan your vaction and look for attractions.  </p>
                    <p><a class="btn btn-primary" style="background-color:royalblue !important;border-radius: 20px 20px 20px 20px; " target="_blank" href="https://www.tripadvisor.co.il/">Learn more &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="width: 100%; height: 100% margin: auto; text-align:center">
    <canvas id="photoGal" height="400px" width="800px" onclick="cycleImage()"> </canvas>
</div>
<script>
    var photoIndex = 1;
    var photoArray = ["/resources/ny.jpg",
        "/resources/london.jpg",
        "/resources/santo.jpg"];
    var canvas = document.getElementById('photoGal');
    var context = canvas.getContext('2d');
    var imageObj = new Image();

    imageObj.onload = function () {
        context.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height, 0, 0, 800, 400);
    };
    imageObj.src = photoArray[0];

    function cycleImage() {
        // Get the canvas
        var canvas = document.getElementById('photoGal');
        var context = canvas.getContext('2d');

        // Allocate a new image object
        var imageObj = new Image();

        // Cycle to the next image, set the image object
        imageObj.src = photoArray[photoIndex % photoArray.length];
        photoIndex++;

        // Draw!
        context.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height, 0, 0, 800, 400);
    }
</script>